public/chat.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fiance.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100italic,500&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300" rel="stylesheet" type="text/css">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <script src="./js/preload.js"></script>
    <script src="./js/flexibility.js"></script><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src/="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <div class="overlay"></div>
    <div class="payPopup">
      <div class="payPopupClose">
        <button class="buttonClose"></button>
      </div>
      <div class="payPopupLeft">
        <div class="payPopupSelect">
          <div class="payPopupSelectHeader">How much would you like to add?</div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">40&nbsp<span>credits&nbsp</span><b>$40</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">80&nbsp<span>credits&nbsp</span><b>$80</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">140&nbsp<span>credits&nbsp</span><b>$140</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">240&nbsp<span>credits&nbsp</span><b>$240</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">500&nbsp<span>credits&nbsp</span><b>$500</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">1000&nbsp<span>credits&nbsp</span><b>$1000</b>
            </label>
          </div>
          <div class="payPopupSelectMobile">
            <select class="select">
              <option>40 credits $40</option>
              <option>80 credits $80</option>
              <option>140 credits $140</option>
              <option>240 credits $240</option>
              <option>500 credits $500</option>
              <option>1000 credits $1000</option>
            </select>
          </div>
        </div>
        <div class="payPopupCreditNow">
          <div class="payPopupCreditNowWrap"><span>Current Balance</span><b>1000&nbsp</b>Cr</div>
        </div>
      </div>
      <div class="payPopupRight">
        <div class="payPopupItems">
          <div class="payPopupItem">
            <label class="label">Payment Method</label>
            <div class="payPopupSystems">
              <div class="payPopupSystemVisa">
                <label class="payPopupSystemVisaLabel">
                  <input type="radio" name="pay" class="iCheck"><span></span>
                </label>
              </div>
              <div class="payPopupSystemPaypal">
                <label class="payPopupSystemPaypalLabel">
                  <input type="radio" name="pay" class="iCheck"><span></span>
                </label>
              </div>
            </div>
          </div>
          <div class="payPopupItem">
            <label class="label">Cardholders Name</label>
            <input class="input">
          </div>
          <div class="payPopupItem">
            <div class="payPopupItemRow">
              <div class="payPopupItemColumn">
                <label class="label">Experation Date</label>
                <select class="select2">
                  <option>January</option>
                  <option>January</option>
                </select>
              </div>
              <div class="payPopupItemColumn">
                <label class="label">Cardholders Name</label>
                <select class="select2">
                  <option>2015</option>
                  <option>2016</option>
                  <option>2017</option>
                </select>
              </div>
            </div>
          </div>
          <div class="payPopupItem">
            <div class="payPopupItemRow">
              <div class="payPopupItemColumn">
                <label class="label">CVVC Code</label>
                <input class="input">
              </div>
              <div class="payPopupItemColumn">
                <label class="label">Zip Code</label>
                <input class="input">
              </div>
            </div>
          </div>
          <div class="payPopupItem">
            <label class="labelCheckbox">
              <input type="checkbox" class="iCheck">
              <div class="labelCheckboxText">Auto recharge this card:
                <input value="100" class="inputSmall">credits if credit balance is lower than 10 credits.
              </div>
            </label>
          </div>
          <div class="payPopupItem">
            <div class="payPopupItemTotal"><span>Total:</span>$240</div>
          </div>
          <div class="payPopupItem">
            <button class="buttonRed">Pay now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="popup js-popup-credit-show">
      <div class="popupClose">
        <button class="buttonClose"></button>
      </div>
      <div class="popupHeader">Credit Card Information</div>
      <div class="popupForm">
        <div class="popupFormItem">
          <label class="label">Cardholders Name</label>
          <input class="input">
        </div>
        <div class="popupFormItem">
          <div class="popupFormItemRow">
            <div class="popupFormItemColumn">
              <label class="label">Experation Date</label>
              <select class="select2">
                <option>January</option>
                <option>January</option>
              </select>
            </div>
            <div class="popupFormItemColumn">
              <label class="label">Cardholders Name</label>
              <select class="select2">
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
              </select>
            </div>
          </div>
        </div>
        <div class="popupFormItem">
          <div class="popupFormItemRow">
            <div class="popupFormItemColumn">
              <label class="label">CVVC Code</label>
              <input class="input">
            </div>
            <div class="popupFormItemColumn">
              <label class="label">Zip Code</label>
              <input class="input">
            </div>
          </div>
        </div>
        <div class="popupFormItem">
          <button class="buttonRed">Save Change</button>
        </div>
      </div>
    </div>
    <div class="popup popupMedium js-popup-refill-show">
      <div class="popupClose">
        <button class="buttonClose"></button>
      </div>
      <div class="popupHeader">Auto Recharge</div>
      <div class="popupForm">
        <div class="popupFormItem">
          <p>Auto recharge this card:
            <input value="100" class="inputSmall">credits if credit balance is lower than 10 credits.
          </p>
        </div>
        <div class="popupFormItem">
          <button class="buttonRed">Save Change</button>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="headerWrap">
        <div class="headerLeft">
          <div class="headerLogo"><a href="#"></a></div>
          <div class="headerCredits">
            <div class="headerCreditsTotal">20<span>&nbspCr</span></div>
            <div class="headerCreditsDesktop">Credits
              <button class="buttonOutline js-showPopupPay">+ add</button>
            </div>
          </div>
        </div>
        <div class="headerRight">
          <div class="settings">
            <div class="settingButton">
              <button class="buttonSettting"></button>
            </div>
            <div class="settingWindow">
              <div class="settingItems">
                <div class="settingItemCheckboxs">
                  <div class="settingItemCheckboxLabel">Setting 1</div>
                  <div class="settingItemCheckbox">
                    <input type="checkbox" class="iCheck">
                  </div>
                </div>
                <div class="settingItemCheckboxs">
                  <div class="settingItemCheckboxLabel">Setting 1</div>
                  <div class="settingItemCheckbox">
                    <input type="checkbox" class="iCheck">
                  </div>
                </div>
                <div class="settingItemCheckboxs">
                  <div class="settingItemCheckboxLabel">Setting 1</div>
                  <div class="settingItemCheckbox">
                    <input type="checkbox" class="iCheck">
                  </div>
                </div>
                <div class="settingItem">
                  <div class="settingItemLeft">
                    <div class="settingItemTop">Balance</div>
                    <div class="settingItemString"><span>40&nbsp</span>Cr</div>
                  </div>
                  <div class="settingItemRight">
                    <button class="buttonOutline js-showPopupPay">+ add credits</button>
                  </div>
                </div>
                <div class="settingItem">
                  <div class="settingItemLeft">
                    <div class="settingItemTop">Auto recharge</div>
                    <div class="settingItemString"><span>40&nbsp</span>Cr</div>
                  </div>
                  <div class="settingItemRight">
                    <button class="buttonOutline js-popup-refill">Change</button>
                  </div>
                </div>
                <div class="settingItem">
                  <div class="settingItemLeft">
                    <div class="settingItemTop">Card Number</div>
                    <div class="settingItemString"><b>XXXX XXXX 1298</b></div>
                  </div>
                  <div class="settingItemRight">
                    <button class="buttonOutline js-popup-credit">Change</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="headerUser">
            <div class="headerUserName">Robert William
              <div class="headerUserStatus">
                <div class="status statusOnline">Online</div>
              </div>
            </div>
            <div class="headerAvatar"><a href="#"><img src="img/avatarHeader.jpg" alt=""></a></div>
          </div>
          <div class="headerLogout">
            <button class="buttonLogout"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="chat">
      <div class="userTab">
        <div class="userTabWrap">
          <div class="userTabMenu">
            <div class="userTabItem userTabItemActive"><a href="#">Pending Chats<span>12</span></a></div>
            <div class="userTabItem userTabItemMobile"><a href="#">On-Line</a></div>
            <div class="userTabItem userTabItemMobile"><a href="#">Recent</a></div>
            <div class="userTabItem userTabItemMobile"><a href="#">Pending Chats</a></div>
            <div class="userTabItem userTabItemMobile"><a href="#">Favorites</a></div>
          </div>
          <div class="userTabMobileMenu">
            <button class="buttonUserTabMenu"></button>
          </div>
        </div>
      </div>
      <div class="chats">
        <div class="chatColumn">
          <div class="chatControl">
            <div class="chatControlAvatar"><img src="img/avatar.jpg" alt=""></div>
            <div class="chatControlName"><span>Chat with:&nbsp</span>Maria Kaminer</div>
            <div class="chatControlButton">
              <button class="buttonBigOutline">
                <div class="buttonBigOutlineIcon buttonBigOutlineIconPause"></div>Pause
              </button>
              <button class="buttonBigOutline">
                <div class="buttonBigOutlineIcon buttonBigOutlineIconEndCall"></div>End Call
              </button>
            </div>
          </div>
          <div class="chatVideo">
            <div class="chatVideoFrame"><img src="img/video.jpg" alt=""></div>
            <div class="chatVideoControl">
              <div class="chatVideoControlLeft">
                <button class="buttonVideoMic"></button>
                <button class="buttonVideoFrame"></button>
              </div>
              <div class="chatVideoControlRight">
                <div class="chatVideoControlCamera">
                  <input type="checkbox" checked class="switch">
                </div>
                <div class="chatVideoControlCameraHide"><span>Hide my Camera</span>
                  <input type="checkbox" class="iCheck">
                </div>
              </div>
            </div>
            <div class="chatVideoTiming">
              <div class="chatVideoTimingLeft"><span>Time :&nbsp</span>00.01.30 min</div>
              <div class="chatVideoTimingRight"><b>20&nbsp</b>Credits
                <button class="buttonOutline">+ add</button>
              </div>
            </div>
          </div>
        </div>
        <div class="chatColumn">
          <div class="chatMessages">
            <div class="chatMessageWindow">
              <div class="chatMessageWindowWrap">
                <div class="chatMessageIn">
                  <div class="chatMessageInText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</div>
                  <div class="chatMessageInTime">1m ago&nbsp<span class="chatMessageCheck"></span><span class="chatMessageCheck"></span></div>
                </div>
                <div class="chatMessageOut">
                  <div class="chatMessageOutText"><span>Lorem</span>
                    <div class="chatMessageOutTranslate">Lorem ipsum</div>
                  </div>
                  <div class="chatMessageOutControl">
                    <div class="chatMessageOutTime">1m ago&nbsp<span class="chatMessageCheck"></span><span class="chatMessageCheck"></span></div>
                    <div class="chatMessageOutButton">
                      <button class="buttonSimple buttonSimpleActive">Translated</button>|
                      <button class="buttonSimple">Like</button>
                    </div>
                  </div>
                </div>
                <div class="chatMessageIn">
                  <div class="chatMessageInText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</div>
                  <div class="chatMessageInTime">1m ago&nbsp<span class="chatMessageCheck"></span><span class="chatMessageCheck"></span></div>
                </div>
                <div class="chatMessageOut">
                  <div class="chatMessageOutText"><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</span></div>
                  <div class="chatMessageOutControl">
                    <div class="chatMessageOutTime">1m ago&nbsp<span class="chatMessageCheck"></span><span class="chatMessageCheck"></span></div>
                    <div class="chatMessageOutButton">
                      <button class="buttonSimple">Translated</button>|
                      <button class="buttonSimple">Like</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="chatMessageSend">
              <div class="chatMessageSendInput">
                <textarea placeholder="Type here"></textarea>
              </div>
              <div class="chatMessageSendControl">
                <div class="chatMessageSendControlLeft">
                  <div class="chatMessageSendControlTranslate">
                    <label class="labelCheckbox">
                      <input type="checkbox" class="iCheck">Autotranslate
                    </label>
                  </div>
                </div>
                <div class="chatMessageSendControlRight">
                  <div class="chatMessageSendControlFlowers">
                    <button class="chatMessageSendControlFlowerButton">Flowers</button>
                    <div class="chatFlowerDrop">
                      <div class="chatFlowerDropWrap">
                        <div class="chatFlowerDropItem"><img src="img/flower.jpg" width="40px" alt=""></div>
                        <div class="chatFlowerDropItem"><img src="img/flower.jpg" width="40px" alt=""></div>
                        <div class="chatFlowerDropItem"><img src="img/flower.jpg" width="40px" alt=""></div>
                        <div class="chatFlowerDropItem"><img src="img/flower.jpg" width="40px" alt=""></div>
                        <div class="chatFlowerDropItem"><img src="img/flower.jpg" width="40px" alt=""></div>
                        <div class="chatFlowerDropItem"><img src="img/flower.jpg" width="40px" alt=""></div>
                        <div class="chatFlowerDropItem"><img src="img/flower.jpg" width="40px" alt=""></div>
                        <div class="chatFlowerDropItem"><img src="img/flower.jpg" width="40px" alt=""></div>
                        <div class="chatFlowerDropItem"><img src="img/flower.jpg" width="40px" alt=""></div>
                        <div class="chatFlowerDropItem"><img src="img/flower.jpg" width="40px" alt=""></div>
                      </div>
                    </div>
                  </div>
                  <div class="chatMessageSendControlFile">
                    <button class="chatMessageSendControlFileButton"></button>
                  </div>
                  <div class="chatMessageSendControlSmile">
                    <button class="chatMessageSendControlSmileButton"></button>
                    <div class="chatSmileDrop">
                      <div class="chatSmileDropWrap">
                        <div class="chatSmileDropItem"><img src="img/smile.png" width="26px" alt=""></div>
                        <div class="chatSmileDropItem"><img src="img/smile.png" width="26px" alt=""></div>
                        <div class="chatSmileDropItem"><img src="img/smile.png" width="26px" alt=""></div>
                        <div class="chatSmileDropItem"><img src="img/smile.png" width="26px" alt=""></div>
                        <div class="chatSmileDropItem"><img src="img/smile.png" width="26px" alt=""></div>
                        <div class="chatSmileDropItem"><img src="img/smile.png" width="26px" alt=""></div>
                        <div class="chatSmileDropItem"><img src="img/smile.png" width="26px" alt=""></div>
                        <div class="chatSmileDropItem"><img src="img/smile.png" width="26px" alt=""></div>
                        <div class="chatSmileDropItem"><img src="img/smile.png" width="26px" alt=""></div>
                        <div class="chatSmileDropItem"><img src="img/smile.png" width="26px" alt=""></div>
                      </div>
                    </div>
                  </div>
                  <div class="chatMessageSendControlSubmit">
                    <button class="buttonRedSmall">Send</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/switchery.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>

assets/template/chat.jade
extends _layout

block content
    .chat
        .userTab
            .userTabWrap
                .userTabMenu
                    .userTabItem.userTabItemActive
                        a(href="#")
                            | Pending Chats
                            span 12
                    .userTabItem.userTabItemMobile
                        a(href="#")
                            | On-Line
                    .userTabItem.userTabItemMobile
                        a(href="#")
                            | Recent
                        
                    .userTabItem.userTabItemMobile
                        a(href="#")
                            | Pending Chats
                    .userTabItem.userTabItemMobile
                        a(href="#")
                            | Favorites
                .userTabMobileMenu
                    button.buttonUserTabMenu
        .chats
            .chatColumn
                .chatControl
                    .chatControlAvatar
                        img(src="img/avatar.jpg", alt="")
                    .chatControlName
                        span Chat with:&nbsp
                        | Maria Kaminer
                    .chatControlButton
                        button.buttonBigOutline
                            .buttonBigOutlineIcon.buttonBigOutlineIconPause
                            | Pause
                        button.buttonBigOutline
                            .buttonBigOutlineIcon.buttonBigOutlineIconEndCall
                            | End Call
                .chatVideo
                    .chatVideoFrame
                        img(src="img/video.jpg", alt="")
                    .chatVideoControl
                        .chatVideoControlLeft
                            button.buttonVideoMic
                            button.buttonVideoFrame
                        .chatVideoControlRight
                            .chatVideoControlCamera
                                input(type="checkbox" checked).switch
                            .chatVideoControlCameraHide
                                span Hide my Camera
                                input(type="checkbox").iCheck
                    .chatVideoTiming
                        .chatVideoTimingLeft
                            span Time :&nbsp
                            | 00.01.30 min
                        .chatVideoTimingRight
                            b 20&nbsp
                            | Credits
                            button.buttonOutline + add
            .chatColumn
                .chatMessages
                    .chatMessageWindow
                        .chatMessageWindowWrap
                            .chatMessageIn
                                .chatMessageInText
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                .chatMessageInTime
                                    | 1m ago&nbsp
                                    span.chatMessageCheck
                                    span.chatMessageCheck
                            .chatMessageOut
                                .chatMessageOutText
                                    span
                                        | Lorem
                                    .chatMessageOutTranslate
                                        | Lorem ipsum
                                .chatMessageOutControl
                                    .chatMessageOutTime
                                        | 1m ago&nbsp
                                        span.chatMessageCheck
                                        span.chatMessageCheck
                                    .chatMessageOutButton
                                        button.buttonSimple.buttonSimpleActive Translated
                                        | |
                                        button.buttonSimple Like
                                        
                            .chatMessageIn
                                .chatMessageInText
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                .chatMessageInTime
                                    | 1m ago&nbsp
                                    span.chatMessageCheck
                                    span.chatMessageCheck
                            .chatMessageOut
                                .chatMessageOutText
                                    span
                                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                .chatMessageOutControl
                                    .chatMessageOutTime
                                        | 1m ago&nbsp
                                        span.chatMessageCheck
                                        span.chatMessageCheck
                                    .chatMessageOutButton
                                        button.buttonSimple Translated
                                        | |
                                        button.buttonSimple Like
                    .chatMessageSend
                        .chatMessageSendInput
                            textarea(placeholder="Type here")
                        .chatMessageSendControl
                            .chatMessageSendControlLeft
                                .chatMessageSendControlTranslate
                                    label.labelCheckbox
                                        input(type="checkbox").iCheck
                                        | Autotranslate
                            .chatMessageSendControlRight
                                .chatMessageSendControlFlowers
                                    button.chatMessageSendControlFlowerButton
                                        | Flowers
                                    .chatFlowerDrop
                                        .chatFlowerDropWrap
                                            - for (var i = 0; i < 10; ++i) {
                                                .chatFlowerDropItem
                                                    img(src="img/flower.jpg", width="40px" alt="")
                                            - }
                                .chatMessageSendControlFile
                                    button.chatMessageSendControlFileButton
                                .chatMessageSendControlSmile
                                    button.chatMessageSendControlSmileButton
                                    .chatSmileDrop
                                        .chatSmileDropWrap
                                            - for (var i = 0; i < 10; ++i) {
                                                .chatSmileDropItem
                                                    img(src="img/smile.png", width="26px" alt="")
                                            - }
                                .chatMessageSendControlSubmit
                                    button.buttonRedSmall Send
