public/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fiance.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100italic,500&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300" rel="stylesheet" type="text/css">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <script src="./js/preload.js"></script>
    <script src="./js/flexibility.js"></script><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src/="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <div class="overlay"></div>
    <div class="payPopup">
      <div class="payPopupClose">
        <button class="buttonClose"></button>
      </div>
      <div class="payPopupLeft">
        <div class="payPopupSelect">
          <div class="payPopupSelectHeader">How much would you like to add?</div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">40&nbsp<span>credits&nbsp</span><b>$40</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">80&nbsp<span>credits&nbsp</span><b>$80</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">140&nbsp<span>credits&nbsp</span><b>$140</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">240&nbsp<span>credits&nbsp</span><b>$240</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">500&nbsp<span>credits&nbsp</span><b>$500</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">1000&nbsp<span>credits&nbsp</span><b>$1000</b>
            </label>
          </div>
          <div class="payPopupSelectMobile">
            <select class="select">
              <option>40 credits $40</option>
              <option>80 credits $80</option>
              <option>140 credits $140</option>
              <option>240 credits $240</option>
              <option>500 credits $500</option>
              <option>1000 credits $1000</option>
            </select>
          </div>
        </div>
        <div class="payPopupCreditNow">
          <div class="payPopupCreditNowWrap"><span>Current Balance</span><b>1000&nbsp</b>Cr</div>
        </div>
      </div>
      <div class="payPopupRight">
        <div class="payPopupItems">
          <div class="payPopupItem">
            <label class="label">Payment Method</label>
            <div class="payPopupSystems">
              <div class="payPopupSystemVisa">
                <label class="payPopupSystemVisaLabel">
                  <input type="radio" name="pay" class="iCheck"><span></span>
                </label>
              </div>
              <div class="payPopupSystemPaypal">
                <label class="payPopupSystemPaypalLabel">
                  <input type="radio" name="pay" class="iCheck"><span></span>
                </label>
              </div>
            </div>
          </div>
          <div class="payPopupItem">
            <label class="label">Cardholders Name</label>
            <input class="input">
          </div>
          <div class="payPopupItem">
            <div class="payPopupItemRow">
              <div class="payPopupItemColumn">
                <label class="label">Experation Date</label>
                <select class="select2">
                  <option>January</option>
                  <option>January</option>
                </select>
              </div>
              <div class="payPopupItemColumn">
                <label class="label">Cardholders Name</label>
                <select class="select2">
                  <option>2015</option>
                  <option>2016</option>
                  <option>2017</option>
                </select>
              </div>
            </div>
          </div>
          <div class="payPopupItem">
            <div class="payPopupItemRow">
              <div class="payPopupItemColumn">
                <label class="label">CVVC Code</label>
                <input class="input">
              </div>
              <div class="payPopupItemColumn">
                <label class="label">Zip Code</label>
                <input class="input">
              </div>
            </div>
          </div>
          <div class="payPopupItem">
            <label class="labelCheckbox">
              <input type="checkbox" class="iCheck">
              <div class="labelCheckboxText">Auto recharge this card:
                <input value="100" class="inputSmall">credits if credit balance is lower than 10 credits.
              </div>
            </label>
          </div>
          <div class="payPopupItem">
            <div class="payPopupItemTotal"><span>Total:</span>$240</div>
          </div>
          <div class="payPopupItem">
            <button class="buttonRed">Pay now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="popup js-popup-credit-show">
      <div class="popupClose">
        <button class="buttonClose"></button>
      </div>
      <div class="popupHeader">Credit Card Information</div>
      <div class="popupForm">
        <div class="popupFormItem">
          <label class="label">Cardholders Name</label>
          <input class="input">
        </div>
        <div class="popupFormItem">
          <div class="popupFormItemRow">
            <div class="popupFormItemColumn">
              <label class="label">Experation Date</label>
              <select class="select2">
                <option>January</option>
                <option>January</option>
              </select>
            </div>
            <div class="popupFormItemColumn">
              <label class="label">Cardholders Name</label>
              <select class="select2">
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
              </select>
            </div>
          </div>
        </div>
        <div class="popupFormItem">
          <div class="popupFormItemRow">
            <div class="popupFormItemColumn">
              <label class="label">CVVC Code</label>
              <input class="input">
            </div>
            <div class="popupFormItemColumn">
              <label class="label">Zip Code</label>
              <input class="input">
            </div>
          </div>
        </div>
        <div class="popupFormItem">
          <button class="buttonRed">Save Change</button>
        </div>
      </div>
    </div>
    <div class="popup popupMedium js-popup-refill-show">
      <div class="popupClose">
        <button class="buttonClose"></button>
      </div>
      <div class="popupHeader">Auto Recharge</div>
      <div class="popupForm">
        <div class="popupFormItem">
          <p>Auto recharge this card:
            <input value="100" class="inputSmall">credits if credit balance is lower than 10 credits.
          </p>
        </div>
        <div class="popupFormItem">
          <button class="buttonRed">Save Change</button>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="headerWrap">
        <div class="headerLeft">
          <div class="headerLogo"><a href="#"></a></div>
          <div class="headerCredits">
            <div class="headerCreditsTotal">20<span>&nbspCr</span></div>
            <div class="headerCreditsDesktop">Credits
              <button class="buttonOutline js-showPopupPay">+ add</button>
            </div>
          </div>
        </div>
        <div class="headerRight">
          <div class="settings">
            <div class="settingButton">
              <button class="buttonSettting"></button>
            </div>
            <div class="settingWindow">
              <div class="settingItems">
                <div class="settingItemCheckboxs">
                  <div class="settingItemCheckboxLabel">Setting 1</div>
                  <div class="settingItemCheckbox">
                    <input type="checkbox" class="iCheck">
                  </div>
                </div>
                <div class="settingItemCheckboxs">
                  <div class="settingItemCheckboxLabel">Setting 1</div>
                  <div class="settingItemCheckbox">
                    <input type="checkbox" class="iCheck">
                  </div>
                </div>
                <div class="settingItemCheckboxs">
                  <div class="settingItemCheckboxLabel">Setting 1</div>
                  <div class="settingItemCheckbox">
                    <input type="checkbox" class="iCheck">
                  </div>
                </div>
                <div class="settingItem">
                  <div class="settingItemLeft">
                    <div class="settingItemTop">Balance</div>
                    <div class="settingItemString"><span>40&nbsp</span>Cr</div>
                  </div>
                  <div class="settingItemRight">
                    <button class="buttonOutline js-showPopupPay">+ add credits</button>
                  </div>
                </div>
                <div class="settingItem">
                  <div class="settingItemLeft">
                    <div class="settingItemTop">Auto recharge</div>
                    <div class="settingItemString"><span>40&nbsp</span>Cr</div>
                  </div>
                  <div class="settingItemRight">
                    <button class="buttonOutline js-popup-refill">Change</button>
                  </div>
                </div>
                <div class="settingItem">
                  <div class="settingItemLeft">
                    <div class="settingItemTop">Card Number</div>
                    <div class="settingItemString"><b>XXXX XXXX 1298</b></div>
                  </div>
                  <div class="settingItemRight">
                    <button class="buttonOutline js-popup-credit">Change</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="headerUser">
            <div class="headerUserName">Robert William
              <div class="headerUserStatus">
                <div class="status statusOnline">Online</div>
              </div>
            </div>
            <div class="headerAvatar"><a href="#"><img src="img/avatarHeader.jpg" alt=""></a></div>
          </div>
          <div class="headerLogout">
            <button class="buttonLogout"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="users">
      <div class="userTab">
        <div class="userTabWrap">
          <div class="userTabMenu">
            <div class="userTabItem userTabItemMobileHide userTabItemActive"><a href="#">Pending Chats<span>12</span></a></div>
            <div class="userTabItem userTabItemMobileHide"><a href="#">On-Line</a></div>
            <div class="userTabItem userTabItemMobileHide"><a href="#">Recent</a></div>
            <div class="userTabItem userTabItemMobileHide"><a href="#">Favorites</a></div>
          </div>
          <div class="userTabMobileMenu">
            <button class="buttonUserTabMenu js-mobileMenuShow"></button>
          </div>
        </div>
      </div>
      <div class="userItems">
        <div class="userItem">
          <div class="userItemWrap">
            <div class="userItemInfos">
              <div class="userItemAvatar"><img src="img/avatar.jpg" alt="">
                <div class="userPopup">
                  <div class="userPopupTriangle"></div>
                  <div class="userPopupPhoto">
                    <div class="userPopupPhotoTop">
                      <div class="userPopupAvatar"><img src="img/avatar.jpg" alt=""></div>
                      <div class="userPopupName">Maria Kaminer</div>
                      <div class="userPopupStatus">
                        <div class="statusWhite statusOnline">Online</div>
                      </div>
                    </div>
                    <div class="userPopupProfile">
                      <button class="buttonOutlineRound">Profile</button>
                    </div>
                  </div>
                  <div class="userPopupInfo">
                    <div class="userPopupInfoRows">
                      <div class="userPopupInfoRow">
                        <div class="userPopupInfoColumn">
                          <div class="userPopupInfoItem"><span>Country</span>Ukraine</div>
                          <div class="userPopupInfoItem"><span>Age</span>18 y.o</div>
                          <div class="userPopupInfoItem"><span>Height</span>163 cm</div>
                          <div class="userPopupInfoItem"><span>Marital Status</span>Single</div>
                        </div>
                        <div class="userPopupInfoColumn">
                          <div class="userPopupInfoItem"><span>City</span>Kremenchug</div>
                          <div class="userPopupInfoItem"><span>Birthday</span>10/2/1997</div>
                          <div class="userPopupInfoItem"><span>Weight</span>52 kg</div>
                          <div class="userPopupInfoItem"><span>Religion</span>Christian</div>
                        </div>
                      </div>
                      <div class="userPopupInfoRow">
                        <div class="userPopupInfoBigColumn">
                          <div class="userPopupInfoItem"><span>Education</span>High Unfinished</div>
                          <div class="userPopupInfoItem"><span>Hobbies</span>I used to play Volleyball</div>
                          <div class="userPopupInfoItem"><span>Search for</span>My perfect man must be: smart, funny..</div>
                          <div class="userPopupInfoItem"><span>Language</span>English</div>
                        </div>
                      </div>
                    </div>
                    <div class="userPopupInfoBottom">
                      <div class="userPopupInfoFullColumn">
                        <div class="userPopupInfoItem"><span>About Myself</span>I like to read russian classical literature. Iwas playing a volleyball for some time and can play winds a bit(clarinet).</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="userItemInfo">
                <div class="userItemName"><span>Agnesa Selena</span>
                  <div class="usersItemNameFavorite usersItemNameFavoriteActive"></div>
                </div>
                <div class="userItemAge"><span>Age:</span>21</div>
                <div class="userItemCountry"><span>Country</span>USA</div>
                <div class="userItemStatus">
                  <div class="status statusOnline">Online</div>
                </div>
              </div>
            </div>
            <div class="userItemControl">
              <div class="userItemInvite">Invited you 10 min ago</div>
              <div class="userItemButtons">
                <button disabled class="buttonBigOutline">
                  <div class="buttonBigOutlineIcon buttonBigOutlineIconChat"></div>Start Chat
                </button>
                <button disabled class="buttonBigOutline">
                  <div class="buttonBigOutlineIcon buttonBigOutlineIconInvite"></div>Invite
                </button>
                <button class="buttonBigOutline buttonBigOutlineIconOnly">
                  <div class="buttonBigOutlineIcon buttonBigOutlineIconDelete"></div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="userItem">
          <div class="userItemWrap">
            <div class="userItemInfos">
              <div class="userItemAvatar"><img src="img/avatar.jpg" alt=""></div>
              <div class="userItemInfo">
                <div class="userItemName"><span>Agnesa Selena</span>
                  <div class="usersItemNameFavorite"></div>
                </div>
                <div class="userItemAge"><span>Age:</span>21</div>
                <div class="userItemCountry"><span>Country</span>USA</div>
                <div class="userItemStatus">
                  <div class="status statusBusy">Busy</div>
                </div>
              </div>
            </div>
            <div class="userItemControl">
              <div class="userItemInvite">Invited you 10 min ago</div>
              <div class="userItemButtons">
                <button class="buttonBigOutline">
                  <div class="buttonBigOutlineIcon buttonBigOutlineIconChat"></div>Start Chat
                </button>
                <button class="buttonBigOutline buttonBigOutlineActive">
                  <div class="buttonBigOutlineIcon buttonBigOutlineIconInvite"></div>Invite
                </button>
                <button class="buttonBigOutline buttonBigOutlineIconOnly">
                  <div class="buttonBigOutlineIcon buttonBigOutlineIconDelete"></div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/switchery.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>

assets/template/index.jade
extends _layout

block content
    .users
        .userTab
            .userTabWrap
                .userTabMenu
                    .userTabItem.userTabItemMobileHide.userTabItemActive
                        a(href="#")
                            | Pending Chats
                            span 12
                    .userTabItem.userTabItemMobileHide
                        a(href="#")
                            | On-Line
                    .userTabItem.userTabItemMobileHide
                        a(href="#")
                            | Recent

                    //- .userTabItem.userTabItemMobileHide
                    //-     a(href="#")
                    //-         | Pending Chats
                    .userTabItem.userTabItemMobileHide
                        a(href="#")
                            | Favorites
                .userTabMobileMenu
                    button.buttonUserTabMenu.js-mobileMenuShow
        //- .userMobileMenu
        //-     .userMobileMenuItems
        //-         .userMobileMenuItem.userMobileMenuItemHide
        //-             a(href="#")
        //-                 | Pending Chats
        //-                 span 12
        //-         .userMobileMenuItem
        //-             a(href="#")
        //-                 | On-line
        //-         .userMobileMenuItem
        //-             a(href="#")
        //-                 | Recent
        //-         .userMobileMenuItem
        //-             a(href="#")
        //-                 | Favorites

        .userItems
            .userItem
                .userItemWrap
                    .userItemInfos
                        .userItemAvatar
                            img(src="img/avatar.jpg", alt="")
                            include block/userPopup.jade
                        .userItemInfo
                            .userItemName
                                span Agnesa Selena
                                .usersItemNameFavorite.usersItemNameFavoriteActive
                            .userItemAge
                                span Age:
                                | 21
                            .userItemCountry
                                span Country
                                | USA
                            .userItemStatus
                                .status.statusOnline
                                    | Online
                    .userItemControl
                        .userItemInvite
                            | Invited you 10 min ago
                        .userItemButtons
                            button(disabled).buttonBigOutline
                                .buttonBigOutlineIcon.buttonBigOutlineIconChat
                                | Start Chat
                            button(disabled).buttonBigOutline
                                .buttonBigOutlineIcon.buttonBigOutlineIconInvite
                                | Invite
                            button.buttonBigOutline.buttonBigOutlineIconOnly
                                .buttonBigOutlineIcon.buttonBigOutlineIconDelete
            .userItem
                .userItemWrap
                    .userItemInfos
                        .userItemAvatar
                            img(src="img/avatar.jpg", alt="")
                        .userItemInfo
                            .userItemName
                                span Agnesa Selena
                                .usersItemNameFavorite
                            .userItemAge
                                span Age:
                                | 21
                            .userItemCountry
                                span Country
                                | USA
                            .userItemStatus
                                .status.statusBusy
                                    | Busy
                    .userItemControl
                        .userItemInvite
                            | Invited you 10 min ago
                        .userItemButtons
                            button.buttonBigOutline
                                .buttonBigOutlineIcon.buttonBigOutlineIconChat
                                | Start Chat
                            button.buttonBigOutline.buttonBigOutlineActive
                                .buttonBigOutlineIcon.buttonBigOutlineIconInvite
                                | Invite
                            button.buttonBigOutline.buttonBigOutlineIconOnly
                                .buttonBigOutlineIcon.buttonBigOutlineIconDelete
