assets/template/popup1.jade
extends _layout

block content
    .overlay.overlayShow
    .modal.modalMedium
        .modalHeader
            | Register Free to start your search. <br> See beautiful Women Interested in You!
        .modalForm
            .modalFormLeft.modalFormBgHeart
                button.buttonFacebook
                    | Sign in with Facebook
                button.buttonGoogle
                    | Sign in with Google
                p
                    | We will not post anything to your profile
                .modalFormImageBox
                    .modalFormImageBoxWrap
                        img(src="img/heart.png", alt="")
            .modalFormRight
                .modalFormItem
                    input.inputModal(placeholder="Enter email address")
                .modalFormItem
                    input.inputModal(placeholder="Choose password")
                .modalFormItem
                    label.labelInline
                        | Birthday
                    .modalFormItemInputGroup
                        .modalFormItemColumnThree
                            select.selectNative(placeholder="Month")
                                option Month
                        .modalFormItemColumnThree
                            select.selectNative(placeholder="Day")
                                option Day
                        .modalFormItemColumnThree
                            select.selectNative(placeholder="Year")
                                option Year
                .modalFormItem
                    button.buttonRedBig Sign Up Free and Continue
                .modalFormItem.modalFormItemBottomBorder
                    p
                        | By registering above I agree to Fiance.com&nbsp
                        a(href="#") terms of use

                .modalFormItem.modalFormItemTextCenter
                    p 
                        | Already a member? 
                        a(href="#") Click here to login

public/popup1.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fiance.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100italic,500&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300" rel="stylesheet" type="text/css">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <script src="./js/preload.js"></script>
    <script src="./js/flexibility.js"></script><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src/="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <div class="overlay"></div>
    <div class="payPopup">
      <div class="payPopupClose">
        <button class="buttonClose"></button>
      </div>
      <div class="payPopupLeft">
        <div class="payPopupSelect">
          <div class="payPopupSelectHeader">How much would you like to add?</div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">40&nbsp<span>credits&nbsp</span><b>$40</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">80&nbsp<span>credits&nbsp</span><b>$80</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">140&nbsp<span>credits&nbsp</span><b>$140</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">240&nbsp<span>credits&nbsp</span><b>$240</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">500&nbsp<span>credits&nbsp</span><b>$500</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">1000&nbsp<span>credits&nbsp</span><b>$1000</b>
            </label>
          </div>
          <div class="payPopupSelectMobile">
            <select class="select">
              <option>40 credits $40</option>
              <option>80 credits $80</option>
              <option>140 credits $140</option>
              <option>240 credits $240</option>
              <option>500 credits $500</option>
              <option>1000 credits $1000</option>
            </select>
          </div>
        </div>
        <div class="payPopupCreditNow">
          <div class="payPopupCreditNowWrap"><span>Current Balance</span><b>1000&nbsp</b>Cr</div>
        </div>
      </div>
      <div class="payPopupRight">
        <div class="payPopupItems">
          <div class="payPopupItem">
            <label class="label">Payment Method</label>
            <div class="payPopupSystems">
              <div class="payPopupSystemVisa">
                <label class="payPopupSystemVisaLabel">
                  <input type="radio" name="pay" class="iCheck"><span></span>
                </label>
              </div>
              <div class="payPopupSystemPaypal">
                <label class="payPopupSystemPaypalLabel">
                  <input type="radio" name="pay" class="iCheck"><span></span>
                </label>
              </div>
            </div>
          </div>
          <div class="payPopupItem">
            <label class="label">Cardholders Name</label>
            <input class="input">
          </div>
          <div class="payPopupItem">
            <div class="payPopupItemRow">
              <div class="payPopupItemColumn">
                <label class="label">Experation Date</label>
                <select class="select2">
                  <option>January</option>
                  <option>January</option>
                </select>
              </div>
              <div class="payPopupItemColumn">
                <label class="label">Cardholders Name</label>
                <select class="select2">
                  <option>2015</option>
                  <option>2016</option>
                  <option>2017</option>
                </select>
              </div>
            </div>
          </div>
          <div class="payPopupItem">
            <div class="payPopupItemRow">
              <div class="payPopupItemColumn">
                <label class="label">CVVC Code</label>
                <input class="input">
              </div>
              <div class="payPopupItemColumn">
                <label class="label">Zip Code</label>
                <input class="input">
              </div>
            </div>
          </div>
          <div class="payPopupItem">
            <label class="labelCheckbox">
              <input type="checkbox" class="iCheck">
              <div class="labelCheckboxText">Auto recharge this card:
                <input value="100" class="inputSmall">credits if credit balance is lower than 10 credits.
              </div>
            </label>
          </div>
          <div class="payPopupItem">
            <div class="payPopupItemTotal"><span>Total:</span>$240</div>
          </div>
          <div class="payPopupItem">
            <button class="buttonRed">Pay now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="popup js-popup-credit-show">
      <div class="popupClose">
        <button class="buttonClose"></button>
      </div>
      <div class="popupHeader">Credit Card Information</div>
      <div class="popupForm">
        <div class="popupFormItem">
          <label class="label">Cardholders Name</label>
          <input class="input">
        </div>
        <div class="popupFormItem">
          <div class="popupFormItemRow">
            <div class="popupFormItemColumn">
              <label class="label">Experation Date</label>
              <select class="select2">
                <option>January</option>
                <option>January</option>
              </select>
            </div>
            <div class="popupFormItemColumn">
              <label class="label">Cardholders Name</label>
              <select class="select2">
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
              </select>
            </div>
          </div>
        </div>
        <div class="popupFormItem">
          <div class="popupFormItemRow">
            <div class="popupFormItemColumn">
              <label class="label">CVVC Code</label>
              <input class="input">
            </div>
            <div class="popupFormItemColumn">
              <label class="label">Zip Code</label>
              <input class="input">
            </div>
          </div>
        </div>
        <div class="popupFormItem">
          <button class="buttonRed">Save Change</button>
        </div>
      </div>
    </div>
    <div class="popup popupMedium js-popup-refill-show">
      <div class="popupClose">
        <button class="buttonClose"></button>
      </div>
      <div class="popupHeader">Auto Recharge</div>
      <div class="popupForm">
        <div class="popupFormItem">
          <p>Auto recharge this card:
            <input value="100" class="inputSmall">credits if credit balance is lower than 10 credits.
          </p>
        </div>
        <div class="popupFormItem">
          <button class="buttonRed">Save Change</button>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="headerWrap">
        <div class="headerLeft">
          <div class="headerLogo"><a href="#"></a></div>
          <div class="headerCredits">
            <div class="headerCreditsTotal">20<span>&nbspCr</span></div>
            <div class="headerCreditsDesktop">Credits
              <button class="buttonOutline js-showPopupPay">+ add</button>
            </div>
          </div>
        </div>
        <div class="headerRight">
          <div class="settings">
            <div class="settingButton">
              <button class="buttonSettting"></button>
            </div>
            <div class="settingWindow">
              <div class="settingItems">
                <div class="settingItemCheckboxs">
                  <div class="settingItemCheckboxLabel">Setting 1</div>
                  <div class="settingItemCheckbox">
                    <input type="checkbox" class="iCheck">
                  </div>
                </div>
                <div class="settingItemCheckboxs">
                  <div class="settingItemCheckboxLabel">Setting 1</div>
                  <div class="settingItemCheckbox">
                    <input type="checkbox" class="iCheck">
                  </div>
                </div>
                <div class="settingItemCheckboxs">
                  <div class="settingItemCheckboxLabel">Setting 1</div>
                  <div class="settingItemCheckbox">
                    <input type="checkbox" class="iCheck">
                  </div>
                </div>
                <div class="settingItem">
                  <div class="settingItemLeft">
                    <div class="settingItemTop">Balance</div>
                    <div class="settingItemString"><span>40&nbsp</span>Cr</div>
                  </div>
                  <div class="settingItemRight">
                    <button class="buttonOutline js-showPopupPay">+ add credits</button>
                  </div>
                </div>
                <div class="settingItem">
                  <div class="settingItemLeft">
                    <div class="settingItemTop">Auto recharge</div>
                    <div class="settingItemString"><span>40&nbsp</span>Cr</div>
                  </div>
                  <div class="settingItemRight">
                    <button class="buttonOutline js-popup-refill">Change</button>
                  </div>
                </div>
                <div class="settingItem">
                  <div class="settingItemLeft">
                    <div class="settingItemTop">Card Number</div>
                    <div class="settingItemString"><b>XXXX XXXX 1298</b></div>
                  </div>
                  <div class="settingItemRight">
                    <button class="buttonOutline js-popup-credit">Change</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="headerUser">
            <div class="headerUserName">Robert William
              <div class="headerUserStatus">
                <div class="status statusOnline">Online</div>
              </div>
            </div>
            <div class="headerAvatar"><a href="#"><img src="img/avatarHeader.jpg" alt=""></a></div>
          </div>
          <div class="headerLogout">
            <button class="buttonLogout"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay overlayShow"></div>
    <div class="modal modalMedium">
      <div class="modalHeader">Register Free to start your search. <br> See beautiful Women Interested in You!</div>
      <div class="modalForm">
        <div class="modalFormLeft modalFormBgHeart">
          <button class="buttonFacebook">Sign in with Facebook</button>
          <button class="buttonGoogle">Sign in with Google</button>
          <p>We will not post anything to your profile</p>
          <div class="modalFormImageBox">
            <div class="modalFormImageBoxWrap"><img src="img/heart.png" alt=""></div>
          </div>
        </div>
        <div class="modalFormRight">
          <div class="modalFormItem">
            <input placeholder="Enter email address" class="inputModal">
          </div>
          <div class="modalFormItem">
            <input placeholder="Choose password" class="inputModal">
          </div>
          <div class="modalFormItem">
            <label class="labelInline">Birthday</label>
            <div class="modalFormItemInputGroup">
              <div class="modalFormItemColumnThree">
                <select placeholder="Month" class="selectNative">
                  <option>Month</option>
                </select>
              </div>
              <div class="modalFormItemColumnThree">
                <select placeholder="Day" class="selectNative">
                  <option>Day</option>
                </select>
              </div>
              <div class="modalFormItemColumnThree">
                <select placeholder="Year" class="selectNative">
                  <option>Year</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modalFormItem">
            <button class="buttonRedBig">Sign Up Free and Continue</button>
          </div>
          <div class="modalFormItem modalFormItemBottomBorder">
            <p>By registering above I agree to Fiance.com&nbsp<a href="#">terms of use</a></p>
          </div>
          <div class="modalFormItem modalFormItemTextCenter">
            <p>
               
              Already a member? <a href="#">Click here to login</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/switchery.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
