assets/template/popup4.jade
extends _layout

block content
    .overlay.overlayShow
    .modal.modalLarge
        .modalHeader
            | Welcome to Fiance.com! Please create your profile.
        .modalForm
            .modalFormImage
                .modalFormImageHeader
                    | Tell us about a person you are looking for
                .modalFormImageBox
                    .modalFormImageBoxWrap
                        img(src="img/people.png", alt="")
                                
            .modalFormTabContent
                
                .modalFormTabControls
                    .modalFormTabControl
                        | My Information
                    .modalFormTabControl.modalFormTabControlActive
                        | Woman/Man I am looking for
                .modalFormTabs
                    .modalFormTab.modalFormTabActive
                        .modalFormItem
                            select.selectNative(placeholder="Your Hair Color")
                                option Your Hair Color
                        .modalFormItem
                            label.labelInline
                                | Your Height
                            input.inputModal.inputModalSmall(placeholder="cm")
                            label.labelInlineCenter
                                | or
                            input.inputModal.inputModalSmall.inputModalMarginRight(placeholder="Ft")
                            input.inputModal.inputModalSmall(placeholder="In")
                        .modalFormItem
                            label.labelInline
                                | Your Height
                            input.inputModal.inputModalSmall(placeholder="kg")
                            label.labelInlineCenter
                                | or
                            input.inputModal.inputModalSmall(placeholder="Lbs")
                        .modalFormItem
                            select.selectNative(placeholder="Your Hair Color")
                                option Your Eyes Color
                        .modalFormItem.modalFormItemVertical
                            label.labelBlock My Lifestyle
                            textarea.textareaModal(placeholder="Tell us about your hobbies, interests and more")
                    .modalFormTab.modalFormTabActive
                        .modalFormItem
                            select.selectNative(placeholder="Your Marital Status")
                                option Your Marital Status
                        .modalFormItem
                            select.selectNative(placeholder="Number of Children")
                                option Number of Children
                        .modalFormItem
                            select.selectNative(placeholder="Your education level ")
                                option Your education level
                        .modalFormItem
                            select.selectNative(placeholder="Your Hair Color")
                                option Your religion
                        .modalFormItem.modalFormItemVertical
                            label.labelBlock My Work
                            textarea.textareaModal(placeholder="Tell us about what type of work do you do")
                .modalFormFooter
                    a(href="#") Go back
                    button.buttonRedBig Continue
                    p Step 1 of 5

public/popup4.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fiance.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100italic,500&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300" rel="stylesheet" type="text/css">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <script src="./js/preload.js"></script>
    <script src="./js/flexibility.js"></script><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src/="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <div class="overlay"></div>
    <div class="payPopup">
      <div class="payPopupClose">
        <button class="buttonClose"></button>
      </div>
      <div class="payPopupLeft">
        <div class="payPopupSelect">
          <div class="payPopupSelectHeader">How much would you like to add?</div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">40&nbsp<span>credits&nbsp</span><b>$40</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">80&nbsp<span>credits&nbsp</span><b>$80</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">140&nbsp<span>credits&nbsp</span><b>$140</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">240&nbsp<span>credits&nbsp</span><b>$240</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">500&nbsp<span>credits&nbsp</span><b>$500</b>
            </label>
          </div>
          <div class="payPopupSelectCheckboxs">
            <label>
              <input type="checkbox" class="iCheck">1000&nbsp<span>credits&nbsp</span><b>$1000</b>
            </label>
          </div>
          <div class="payPopupSelectMobile">
            <select class="select">
              <option>40 credits $40</option>
              <option>80 credits $80</option>
              <option>140 credits $140</option>
              <option>240 credits $240</option>
              <option>500 credits $500</option>
              <option>1000 credits $1000</option>
            </select>
          </div>
        </div>
        <div class="payPopupCreditNow">
          <div class="payPopupCreditNowWrap"><span>Current Balance</span><b>1000&nbsp</b>Cr</div>
        </div>
      </div>
      <div class="payPopupRight">
        <div class="payPopupItems">
          <div class="payPopupItem">
            <label class="label">Payment Method</label>
            <div class="payPopupSystems">
              <div class="payPopupSystemVisa">
                <label class="payPopupSystemVisaLabel">
                  <input type="radio" name="pay" class="iCheck"><span></span>
                </label>
              </div>
              <div class="payPopupSystemPaypal">
                <label class="payPopupSystemPaypalLabel">
                  <input type="radio" name="pay" class="iCheck"><span></span>
                </label>
              </div>
            </div>
          </div>
          <div class="payPopupItem">
            <label class="label">Cardholders Name</label>
            <input class="input">
          </div>
          <div class="payPopupItem">
            <div class="payPopupItemRow">
              <div class="payPopupItemColumn">
                <label class="label">Experation Date</label>
                <select class="select2">
                  <option>January</option>
                  <option>January</option>
                </select>
              </div>
              <div class="payPopupItemColumn">
                <label class="label">Cardholders Name</label>
                <select class="select2">
                  <option>2015</option>
                  <option>2016</option>
                  <option>2017</option>
                </select>
              </div>
            </div>
          </div>
          <div class="payPopupItem">
            <div class="payPopupItemRow">
              <div class="payPopupItemColumn">
                <label class="label">CVVC Code</label>
                <input class="input">
              </div>
              <div class="payPopupItemColumn">
                <label class="label">Zip Code</label>
                <input class="input">
              </div>
            </div>
          </div>
          <div class="payPopupItem">
            <label class="labelCheckbox">
              <input type="checkbox" class="iCheck">
              <div class="labelCheckboxText">Auto recharge this card:
                <input value="100" class="inputSmall">credits if credit balance is lower than 10 credits.
              </div>
            </label>
          </div>
          <div class="payPopupItem">
            <div class="payPopupItemTotal"><span>Total:</span>$240</div>
          </div>
          <div class="payPopupItem">
            <button class="buttonRed">Pay now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="popup js-popup-credit-show">
      <div class="popupClose">
        <button class="buttonClose"></button>
      </div>
      <div class="popupHeader">Credit Card Information</div>
      <div class="popupForm">
        <div class="popupFormItem">
          <label class="label">Cardholders Name</label>
          <input class="input">
        </div>
        <div class="popupFormItem">
          <div class="popupFormItemRow">
            <div class="popupFormItemColumn">
              <label class="label">Experation Date</label>
              <select class="select2">
                <option>January</option>
                <option>January</option>
              </select>
            </div>
            <div class="popupFormItemColumn">
              <label class="label">Cardholders Name</label>
              <select class="select2">
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
              </select>
            </div>
          </div>
        </div>
        <div class="popupFormItem">
          <div class="popupFormItemRow">
            <div class="popupFormItemColumn">
              <label class="label">CVVC Code</label>
              <input class="input">
            </div>
            <div class="popupFormItemColumn">
              <label class="label">Zip Code</label>
              <input class="input">
            </div>
          </div>
        </div>
        <div class="popupFormItem">
          <button class="buttonRed">Save Change</button>
        </div>
      </div>
    </div>
    <div class="popup popupMedium js-popup-refill-show">
      <div class="popupClose">
        <button class="buttonClose"></button>
      </div>
      <div class="popupHeader">Auto Recharge</div>
      <div class="popupForm">
        <div class="popupFormItem">
          <p>Auto recharge this card:
            <input value="100" class="inputSmall">credits if credit balance is lower than 10 credits.
          </p>
        </div>
        <div class="popupFormItem">
          <button class="buttonRed">Save Change</button>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="headerWrap">
        <div class="headerLeft">
          <div class="headerLogo"><a href="#"></a></div>
          <div class="headerCredits">
            <div class="headerCreditsTotal">20<span>&nbspCr</span></div>
            <div class="headerCreditsDesktop">Credits
              <button class="buttonOutline js-showPopupPay">+ add</button>
            </div>
          </div>
        </div>
        <div class="headerRight">
          <div class="settings">
            <div class="settingButton">
              <button class="buttonSettting"></button>
            </div>
            <div class="settingWindow">
              <div class="settingItems">
                <div class="settingItemCheckboxs">
                  <div class="settingItemCheckboxLabel">Setting 1</div>
                  <div class="settingItemCheckbox">
                    <input type="checkbox" class="iCheck">
                  </div>
                </div>
                <div class="settingItemCheckboxs">
                  <div class="settingItemCheckboxLabel">Setting 1</div>
                  <div class="settingItemCheckbox">
                    <input type="checkbox" class="iCheck">
                  </div>
                </div>
                <div class="settingItemCheckboxs">
                  <div class="settingItemCheckboxLabel">Setting 1</div>
                  <div class="settingItemCheckbox">
                    <input type="checkbox" class="iCheck">
                  </div>
                </div>
                <div class="settingItem">
                  <div class="settingItemLeft">
                    <div class="settingItemTop">Balance</div>
                    <div class="settingItemString"><span>40&nbsp</span>Cr</div>
                  </div>
                  <div class="settingItemRight">
                    <button class="buttonOutline js-showPopupPay">+ add credits</button>
                  </div>
                </div>
                <div class="settingItem">
                  <div class="settingItemLeft">
                    <div class="settingItemTop">Auto recharge</div>
                    <div class="settingItemString"><span>40&nbsp</span>Cr</div>
                  </div>
                  <div class="settingItemRight">
                    <button class="buttonOutline js-popup-refill">Change</button>
                  </div>
                </div>
                <div class="settingItem">
                  <div class="settingItemLeft">
                    <div class="settingItemTop">Card Number</div>
                    <div class="settingItemString"><b>XXXX XXXX 1298</b></div>
                  </div>
                  <div class="settingItemRight">
                    <button class="buttonOutline js-popup-credit">Change</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="headerUser">
            <div class="headerUserName">Robert William
              <div class="headerUserStatus">
                <div class="status statusOnline">Online</div>
              </div>
            </div>
            <div class="headerAvatar"><a href="#"><img src="img/avatarHeader.jpg" alt=""></a></div>
          </div>
          <div class="headerLogout">
            <button class="buttonLogout"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay overlayShow"></div>
    <div class="modal modalLarge">
      <div class="modalHeader">Welcome to Fiance.com! Please create your profile.</div>
      <div class="modalForm">
        <div class="modalFormImage">
          <div class="modalFormImageHeader">Tell us about a person you are looking for</div>
          <div class="modalFormImageBox">
            <div class="modalFormImageBoxWrap"><img src="img/people.png" alt=""></div>
          </div>
        </div>
        <div class="modalFormTabContent">
          <div class="modalFormTabControls">
            <div class="modalFormTabControl">My Information</div>
            <div class="modalFormTabControl modalFormTabControlActive">Woman/Man I am looking for</div>
          </div>
          <div class="modalFormTabs">
            <div class="modalFormTab modalFormTabActive">
              <div class="modalFormItem">
                <select placeholder="Your Hair Color" class="selectNative">
                  <option>Your Hair Color</option>
                </select>
              </div>
              <div class="modalFormItem">
                <label class="labelInline">Your Height</label>
                <input placeholder="cm" class="inputModal inputModalSmall">
                <label class="labelInlineCenter">or</label>
                <input placeholder="Ft" class="inputModal inputModalSmall inputModalMarginRight">
                <input placeholder="In" class="inputModal inputModalSmall">
              </div>
              <div class="modalFormItem">
                <label class="labelInline">Your Height</label>
                <input placeholder="kg" class="inputModal inputModalSmall">
                <label class="labelInlineCenter">or</label>
                <input placeholder="Lbs" class="inputModal inputModalSmall">
              </div>
              <div class="modalFormItem">
                <select placeholder="Your Hair Color" class="selectNative">
                  <option>Your Eyes Color</option>
                </select>
              </div>
              <div class="modalFormItem modalFormItemVertical">
                <label class="labelBlock">My Lifestyle</label>
                <textarea placeholder="Tell us about your hobbies, interests and more" class="textareaModal"></textarea>
              </div>
            </div>
            <div class="modalFormTab modalFormTabActive">
              <div class="modalFormItem">
                <select placeholder="Your Marital Status" class="selectNative">
                  <option>Your Marital Status</option>
                </select>
              </div>
              <div class="modalFormItem">
                <select placeholder="Number of Children" class="selectNative">
                  <option>Number of Children</option>
                </select>
              </div>
              <div class="modalFormItem">
                <select placeholder="Your education level " class="selectNative">
                  <option>Your education level</option>
                </select>
              </div>
              <div class="modalFormItem">
                <select placeholder="Your Hair Color" class="selectNative">
                  <option>Your religion</option>
                </select>
              </div>
              <div class="modalFormItem modalFormItemVertical">
                <label class="labelBlock">My Work</label>
                <textarea placeholder="Tell us about what type of work do you do" class="textareaModal"></textarea>
              </div>
            </div>
          </div>
          <div class="modalFormFooter"><a href="#">Go back</a>
            <button class="buttonRedBig">Continue</button>
            <p>Step 1 of 5</p>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/switchery.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
